/* 共通部分 */
body {
  /* font-family: "Montserrat", "Noto Sans JP"; */
  font-family: "Montserrat", "Sawarabi Gothic", "Noto Sans JP";
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../img/top.jpg);
  background-size: cover;
  z-index: -1;
  opacity: 0.4;
}

h1 {
  color: #8f8f8f;
  font-weight: 200;
  letter-spacing: 0.1em;
}

h2,
p,
span,
a {
  color: #8f8f8f;
  font-weight: 200;
  letter-spacing: 0.2em;
}

h1 {
  font-size: 1.5em;
  /* opacity: 0.8; */
}

p {
  font-size: 1em;
  /* opacity: 0.8; */
}

a {
  text-decoration: none;
  color: #8f8f8f;
  padding-bottom: 0.5em;
  margin: 0 20px;
  /* opacity: 0.8; */
}

span {
  font-size: 24px;
}

a:hover {
  border-bottom: solid 1px #8f8f8f;
  /* opacity: 0.8; */
}

header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  height: 48px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav_list a {
  margin: 10px;
}

.wrap {
  width: 80%;
}

.main_title {
  margin: 8px 0 40px;
  z-index: 3000;
}

.sub_txt {
  margin-bottom: 0.5em;
}

.nav_li {
  margin: 1em 0;
}

.active {
  opacity: 0.7;
  /* pointer-events:none; */
}

#menu_bar {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 1em;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
.open #menu_bar {
  visibility: visible;
  opacity: 0.8;
}

#menuBtn {
  margin-top: 8px;
}

.sf_nav_container {
  z-index: 3000;
}

.sf_nav {
  margin-top: 40px;
}

.sf_nav li {
  margin-bottom: 24px;
}

/* 表示非表示の切り替え用 */
.none {
  display: none;
}

/* 共通部分 */

.content2 a:hover,
.sf:hover {
  border: none;
}

.wrap {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.wrap h2 {
  font-size: 1em;
  margin: 32px 0;
}

/* PC用 */
@media screen and (min-width: 781px) {
  .sf {
    display: none;
  }
}

/* スマホ用 */
@media screen and (max-width: 780px) {
  .pc {
    display: none;
  }
}

/* 画像欄 */
.content2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 32px 3vw;
}

.img_wrap {
  grid-column: span 3;
  width: 100%;
  height: auto;
  z-index: 100;
}

.img_wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hidden {
  opacity: 0;
}

/* Works一覧 */
.content2-1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 32px 2.5vw;
}

.img_wrap2-1 {
  grid-column: span 3;
  width: 100%;
  height: auto;
  z-index: 100;
}

.img_wrap2-1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hamburger {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 5000;
}

.hamburger__line {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 1px;
  background-color: #8f8f8f;
  transition: all 0.6s;
  z-index: 5000;
}
.hamburger__line--1 {
  top: 14px;
  z-index: 5000;
}
.hamburger__line--2 {
  top: 20px;
  z-index: 5000;
}
.hamburger__line--3 {
  top: 26px;
  z-index: 5000;
}

.close_btn {
  position: relative;
  cursor: pointer;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px;
  margin: 20px auto;
}

.line {
  background-color: #8f8f8f;
  width: 18px;
  height: 1px;
  z-index: 5000;
}

.line--1 {
  position: absolute;
  transform: rotate(45deg);
  background-color: #8f8f8f;
  left: 8px;
  z-index: 5000;
}
.line--2 {
  position: absolute;
  background-color: #8f8f8f;
  width: 0;

  left: 50%;
  z-index: 5000;
}
.line--3 {
  position: absolute;
  background-color: #8f8f8f;
  left: 8px;
  transform: rotate(-45deg);

  z-index: 5000;
}
/* カルーセル */
.swiper-container {
  width: 65%;
  margin: 0 auto;
  height: 90%;
}

.swiper-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* .swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.4;
} */

.nav_all_works {
  margin: 24px 0;
}

.nav_all_works a {
  font-family: "Montserrat", "Noto Sans JP";
  font-weight: 100;
  letter-spacing: 0.3em;
  margin-left: 0;
  font-size: 0.9em;
}

.work_all_link {
  margin: 0;
  cursor: pointer;
}

.work_all_link:hover {
  border-bottom: none;
  opacity: 0.7;
}

.work_all_title {
  /* font-family: "Montserrat", "Noto Sans JP"; */
  font-family: "Noto Sans JP";
  margin-top: 8px;
  font-weight: 100;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

/* Works詳細ページ */
.work_detail_container {
  width: 40%;
  margin: 0 auto;
}

.work_title {
  font-family: "Noto Sans JP";
  /* margin-top: 1em; */
  font-size: 1em;
  text-align: left;
  font-weight: 100;
  letter-spacing: 0.04em;
}

.center {
  text-align: center;
}

.image-slide {
  margin: 16px auto 24px;
}

.nav_all_works.center {
  margin: 0 auto;
}

/* モーダルスライダー */
.modal {
  /* display: none; */
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  opacity: 1;
}

.modal_container {
  height: 80%;
  position: fixed;
  top: 8vh;
  left: 25%;
  right: 25%;
  width: 50%;
  z-index: 6000;
  padding: 3em 1em 1em;
  background-color: #fff;
  /* transform: translate(-50%, -50%); */
}

.swiper-slide.img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide.img .swiper-img {
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: contain;
}

.close_modal {
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
}

.close_modal span {
  font-size: 3em;
  font-weight: 100;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 5000;
}

.modal.display-none {
  opacity: 0;
  z-index: -2;
}

@media screen and (max-width: 780px) {
  .content2 {
    grid-gap: 32px 3.125vw;
  }

  .img_wrap {
    grid-column: span 3;
    width: 100%;
    height: auto;
  }

  .content2-1 {
    grid-gap: 24px 4.125vw;
  }

  .img_wrap2-1 {
    grid-column: span 6;
    width: 100%;
    height: auto;
  }

  .work_detail_container {
    width: 50%;
  }

  .work_title {
    font-size: 0.8em;
  }

  .work_all_title {
    font-size: 0.8em;
  }

  .work_detail_container {
    width: 80%;
  }

  .modal_container {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 4em;
    padding-right: 0;
    padding-left: 0;
    z-index: 9000;
  }

  .swiper-container {
    width: 80%;
    height: auto;
    max-height: 500px;
    margin: 0 auto;
  }

  .display-fixed {
    position: fixed;
  }
}
